absl-py==2.1.0
aif360==0.6.0
aiosignal==1.3.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
bidict==0.23.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
clarabel==0.7.1
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.2.0
cvxpy==1.4.2
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.14
dice-ml==0.11
distlib==0.3.8
dm-tree==0.1.8
econml==0.15.0
ecos==2.0.13
entrypoints==0.4
erroranalysis==0.5.3
executing==2.0.1
fairlearn==0.7.0
FAT-Forensics==0.1.2
filelock==3.13.1
Flask==2.2.5
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
flatbuffers==24.3.7
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
gevent==24.2.1
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
holisticai==0.7.3
humanfriendly==10.0
idna==3.6
imageio==2.34.0
imbalanced-learn==0.12.0
imblearn==0.0
inFairness==0.2.3
interpret-core==0.5.0
interpret_community==0.31.0
ipykernel==6.29.2
ipython==8.22.1
ipywidgets==8.1.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_widgets==3.0.10
keras==3.0.5
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
lightgbm==4.3.0
lime==0.2.0.1
llvmlite==0.41.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.2
ml_wrappers==0.5.5
mpmath==1.3.0
msgpack==1.0.8
namex==0.0.7
nest-asyncio==1.6.0
networkx==2.5
numba==0.58.1
numpy==1.26.4
onnx==1.15.0
onnxconverter-common==1.14.0
onnxruntime==1.17.1
opt-einsum==3.3.0
osqp==0.6.5
packaging==23.2
pandas==2.2.1
parso==0.8.3
patsy==0.5.6
pillow==10.2.0
pipenv==2023.12.1
platformdirs==4.2.0
POT==0.9.3
prompt-toolkit==3.0.43
protobuf==5.26.0
psutil==5.9.8
pure-eval==0.2.2
pybind11==2.11.1
pycparser==2.21
pyemd==1.0.0
Pygments==2.17.2
pyparsing==3.1.2
pyreadline3==3.4.1
python-dateutil==2.8.2
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
qdldl==0.1.7.post0
rai_core_flask==0.7.3
raiutils==0.4.1
raiwidgets==0.34.1
ray==2.9.3
referencing==0.34.0
requests==2.31.0
responsibleai==0.34.1
rich==13.7.1
rpds-py==0.18.0
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scikit-lego==0.7.4
scipy==1.11.4
scs==3.2.4.post1
seaborn==0.13.2
semver==2.13.0
shap==0.43.0
simple-websocket==1.0.0
six==1.16.0
skl2onnx==1.16.0
sklego==0.0
skorch==0.15.0
slicer==0.0.7
sparse==0.15.1
stack-data==0.6.3
statsmodels==0.13.5
sympy==1.12
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.3.0
tifffile==2024.2.12
torch==2.2.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.1
wcwidth==0.2.13
Werkzeug==2.2.3
widgetsnbextension==4.0.10
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.0.3
zope.event==5.0
zope.interface==6.2
